@page "/profiles/details"
@using Microsoft.EntityFrameworkCore
@using DatingAppFSDProject.Domain
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Profile</h2>
    <hr />
    @if (profile is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Visible</dt>
            <dd class="col-sm-10">@profile.Visible</dd>
            <dt class="col-sm-2">BlockedUser</dt>
            <dd class="col-sm-10">@profile.BlockedUser</dd>
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@profile.UserId</dd>
            <dt class="col-sm-2">SettingId</dt>
            <dd class="col-sm-10">@profile.SettingId</dd>
        </dl>
        <div>
            <a href="@($"/profiles/edit?id={profile.Id}")">Edit</a> |
            <a href="@($"/profiles")">Back to List</a>
        </div>
    }
</div>

@code {
    private Profile? profile;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        profile = await context.Profile.FirstOrDefaultAsync(m => m.Id == Id);

        if (profile is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
